* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-body: #f6f8f9;
    --background-main: #ffffff;
    --button-blue: #47adf1;
    --tag-blue: #45abea;
    --text-black: #000000;
    --tag-purple: #9c72e4;
    --tag-green: #64c0a9;
    --tag-orange: #f29e33;
    --tag-pink: #d863a1;
    --tag-light-green: #b0c926;
}


.debug header {
    background-color: red;
    height: 50px;
}

.debug section{
    background-color: green;
    height: 400px;
}


