* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-body: #f6f8f9;
    --background-main: #ffffff;
    --button-blue: #47adf1;
    --check-mark: #6bc3ae;
    --cross-mark: #eb5952;
    --text-button: #c9cfd4;
    --tag-blue: #45abea;
    --text-black: #000000;
    --tag-purple: #9c72e4;
    --tag-green: #64c0a9;
    --tag-orange: #f29e33;
    --tag-pink: #d863a1;
    --tag-light-green: #b0c926;
}

body{
    background-color: var(--background-body);
}

#site_header{
    line-height: 80px;
    background-color: var(--background-main);
    margin-bottom: 40px;
}

.logo{
    margin-left: 20px;
    vertical-align: middle;
}

h1{
    font-weight: 700;
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    line-height: 80px;
}


#site_main {
    background-color: var(--background-main);
    width: 1000px;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 1%;
}

.top{
    height: 50px;
    padding: 0 50px;
    border-bottom: 2px solid var(--background-body);
    line-height: 50px;
}

.blue_button{
    color: var(--background-main);
    font-weight: 400;
    font-size: 12px;
    background-color: var(--button-blue);
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
}

.transparent_button{
    color: var(--text-button);
    background-color: var(--background-main);
    border-color: var(--text-button);
    border-style: solid;
    font-weight: 400;
    font-size: 12px;
    border-radius: 5%;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.tasks{
    padding: 20px 50px;
}

ul{
    list-style: none;
}

li{
    list-style: none;
    padding: 10px 0;
}

li .circle::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}

li .circle.check::before{
    content: '\2713';
    border: 1px solid var(--check-mark);
    color: var(--check-mark);
}

li .circle.cross::before {
    content: '\2717';
    border: 1px solid var(--cross-mark);
    color: var(--cross-mark);
}

.tag{
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 10px;
    color: var(--background-main);
}

.tag_pink{
    background-color: var(--tag-pink);
}

.tag_blue{
    background-color: var(--tag-blue);
}

.tag_purple{
    background-color: var(--tag-purple);
}

.tag_green{
    background-color: var(--tag-green);
}

.tag_orange{
    background-color: var(--tag-orange);
}

.tag_light_green{
    background-color: var(--tag-light-green);
}
