* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-body: #f6f8f9;
    --background-main: #ffffff;
    --button-blue: #47adf1;
    --tag-blue: #45abea;
    --text-black: #000000;
    --tag-purple: #9c72e4;
    --tag-green: #64c0a9;
    --tag-orange: #f29e33;
    --tag-pink: #d863a1;
    --tag-light-green: #b0c926;
}

body{
    background-color: var(--background-body);
}

#site_header {
    background-color: var(--background-main);
    height: 80px;
}

.title_header{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    line-height: 80px;
}

.logo{
    padding-top: 10px;
}

h1{
    font-weight: 700;
    display: inline-block;
    font-size: 2em;
}

#site_main {
    background-color: var(--background-main);
    width: 1000px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 1%;
}


